h1{color: white}
.text-center {background: coral;}
.container {margin-bottom: 15px;}

.star_rating {font-size:0; letter-spacing:-4px;}
.star_rating a {
    font-size:30px;
    letter-spacing:0;
    display:inline-block;
    margin-left:5px;
    color:#ccc;
    text-decoration:none;
}
.star_rating a:first-child {margin-left:0;}
.star_rating a.on {color:orange;}
.col-sm-4 {margin-bottom: 15px;
}